#modal{
    position: fixed;
    width: 80%;
    height:800px;
    top: 70px;
    left:10%;
    overflow-y: scroll;
    background-color: #3a3a3a;
    color: white;
    z-index: 2;

    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 40px;
}

#modalImg{
    width: auto;
    height: 100%;
}
#viewButton{
    margin: 10px;
}
#tags{
    display: flex;
    flex-direction: column;
    align-items: center;
}